* {
    font-family: Arial;
}
body {
    margin: 0;
    padding: 0;
    
    
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;

}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;

}

nav ul, 
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;

}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: white;
    border-radius: 10px;

}

#banner  {
    display: flex;
    justify-content: center;
    background-image:url('img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}
.banner_head {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content:center;

}
.banner_head h1 {
    color:white;
    font-size: 50px;
    text-shadow:1px 1px 0px black;
    margin:0;
    padding: 0;
    max-width: 350px;
}
.banner_head h2 {
    color:white;
    font-size: 20px;
    text-shadow:1px 1px 0px black;
    margin:0;
    padding: 0;
    max-width: 350px;
    margin-top:30px ;
}

.banner_options {
    height: 210px;
    display: flex;   
}
.banner1,
.banner2,
.banner3 {
    flex:1;
    color: white;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
    
}
.banner2 {
    background-color: #0079c7;
}
.banner3 {
    background-color: #2b4c99;
}
.banner_title {
    font-size: 20px;
}
.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.banner_time1,.banner_time2,.banner_time3{
    font-size: 14px;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    margin-top: 12px;
}
.banner_time1,
.banner_time2,
.banner_time3 {
    display: flex;
    margin-bottom: 13px;
    padding-bottom: 14px;
}

#geral {
   display: flex; 
   justify-content: center;
}
#geral section {
    flex:2;
}
#geral aside {
    flex:1; 
}
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: black;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #2b4c99;
    margin-top: 10px;   
}
.container2{
    max-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
.elemento{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #2b4c99;
    box-shadow: #000000;
  }
.banner_times1,.banner_times2,.banner_times3 {
    font-size: 14px;
    border-bottom: 1px solid black;
    justify-content: space-between;
    margin-top: 12px;
  }
.banner_days1, .banner_days2, .banner_days3 {
    font-size: 14px;
    font-weight: bold;
    
}
    
.banner_hours1, .banner_hours2 {
    font-size: 14px;
    font-weight: bold;
    }
.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex:1;
    min-width: 300px;
    margin-right:20px;
}
article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    background-color: #2b4c99;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #39aae1;
    color: white;
    font-size: 12px;
    padding: 10px;
}
article .news_thumb {
    margin-top: 30px;
}
article .news_thumb img {
    width: 100%;
    height: auto;
}
article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: black;
}
article .news_resume {
    font-size: 14px;
    line-height: 20px;
    color:#5c5c5c;
    margin-bottom: 30px;
}

footer {
    background-color:#1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu {
    display:flex;
    
}
.fm1, .fm2, .fm3 {
    flex: 1;
    color:white;
    padding: 20px;

}
.fm1 {
    background-color: #39aae1;
    
}
.fm2 {
    background-color: #0079c7;
}
.fm3 {
    background-color: #2b4c99;
}
.footer_menu a {
    display: block;
    text-decoration: none;
    color: white;
}
.footer_area {
    display: flex;   
}
.footer_areaitem {
    flex:1;
    color:white;
}
.flexColumn {
    flex-direction: column;
}
footer .widget_title_text {
    color:white;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color:gray;
    font-size: 12px;
    margin-top:30px;
}
.text_menu{
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
}
.text_menu2 .text_menu3,.text_menu4{
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 20px;
    margin-right: 10px;
}
footer .ladolado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.branco{
    color: #ffffff;
    margin-right: 10px;
}
.text_menu2{
    margin-right: 10px;
}
.ln{
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    margin-right: 10px;
   
}
.blue{
    color: #39AAE1;  
    margin-bottom: -0px;
    margin-left: 10px;

}
.quadrados{
    color: #5c5c5c;
    font-size: 12px;
    display: flex;
    flex-direction: row;
}
.q1, .q2, .q3, .q4{
    flex-grow: initial;
    height: 40px;
    width: 40px;
    background-color: #808080;
    justify-content: left;
    margin-right: 6px;
    margin-top: 20px;
}
.ln1{
    color: #808080;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}
ul{
    margin-left: -30px;
}
.titulo{
    font-size: 20px;
}
.name{
    color: white;
    margin-left: 5px;
}
.by{
    margin-left: 5px;
}
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line {
    height: 3px;
    background-color: #39aae1;
}
@media (max-width:600px) {
    .banner_head {
      padding: 20px;  
    }
    .banner_head h1 {
        font-size: 55px;
    }
    .banner_head h2 {
        font-size: 17px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    #geral section {
       padding: 20px; 
    }
    #geral aside {
        padding: 20px;
    }
    .footer_menu {
        flex-direction: column;
    }
    .footer_area {
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
    }

    header {
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}